
/*Name and top options*/

body {
	background: #211a23;
}

.top {
	height: 200px;
	width: 100%;
}

#name {	
	color: white;
	background: olive;
	width: 15%;
	padding: 25px;
	font-size: 200%;
	text-align: center;
	float: left;
	margin-left: 15%;
}

#about {
	color: white;
	float: right;
	margin-right: 15%;
	margin-top: 35px;
	font-size: 125%;
}


.wrapper {
	clear: both;
}